@font-face {
    font-family: "SF Mono Regular";
    src: url("SF-Mono-Regular.otf");
}

@font-face {
    font-family: "SF Mono Bold";
    src: url("SF-Mono-Bold.otf");
}

.font-regular {
    font-family: "SF Mono Regular", "Courier New", monospace;
    font-weight: normal;
}

.font-bold {
    font-family: "SF Mono Bold", "Courier New", monospace;
    font-weight: bold;
}

.colour-magenta {
    color: #E500E5;
}

.colour-cyan {
    color: #00E5E5;
}

.colour-lightblue {
    color: #7199CD;
}

.colour-darkblue {
    color: #1B437E;
}

body {
    margin: 0px;
    background-color: #1D1C1D;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.navbar {
    justify-content: flex-start;
    align-items: stretch;
    height: 4em;
    width: 100%;
    background-color: #333333;
}

.navbar-item {
    justify-content: center;
    align-items: center;
}

.navbar-item:hover {
    background-color: #1B437E;
    transition: background-color 0.3s
}

.navbar-item a {
    width: 120px;
    height: 4em;
    line-height: 4em;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar-item a img {
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
}

.page {
    padding: 1em;    
}

.page-orders {
    justify-content: center;
}

.w-order-list-item {
    border: 0.2em solid white;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    width: 50vw;
    line-height: 2em;
}

.w-order-list-item > div:first-child {
    border-bottom: 0.1em solid;
    margin-bottom: 0.5em;
}
