@font-face {
    font-family: "SF Mono Regular";
    src: url("../fonts/SF-Mono-Regular.otf");
}

@font-face {
    font-family: "SF Mono Bold";
    src: url("../fonts/SF-Mono-Bold.otf");
}

.font-regular {
    font-family: "SF Mono Regular", "Courier New", monospace;
    font-weight: normal;
}

.font-bold {
    font-family: "SF Mono Bold", "Courier New", monospace;
    font-weight: bold;
}

.colour-magenta {
    color: #E500E5;
}

.colour-cyan {
    color: #00E5E5;
}

.colour-lightblue {
    color: #7199CD;
}

.colour-darkblue {
    color: #1B437E;
}

body {
    margin: 0px;
    background-color: #1D1C1D;
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.navbar {
    justify-content: flex-start;
    align-items: stretch;
    height: 4em;
    width: 100%;
    background-color: #333333;
}

.navbar-item {
    justify-content: center;
    align-items: center;
}

.navbar-item:hover {
    background-color: #1B437E;
    transition: background-color 0.3s
}

.navbar-item a {
    width: 120px;
    height: 4em;
    line-height: 4em;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar-item a img {
    display: inline-block;
    height: 2.5em;
    vertical-align: middle;
}

.page {
    padding: 1em;    
}

.page-order-list {
    justify-content: center;
}

.page-order-list > div:nth-child(2n-1) {
    flex: 1;
}

.page-order-list > div:nth-child(2n) {
    flex: 2
}

.w-order-list-item {
    background-color: #333333;
    border-radius: 1em;
    padding: 0.5em 2em;
    margin-bottom: 1.5em;
    line-height: 2em;
}

.w-order-list-item > div:first-child {
    border-bottom: 0.1em solid;
    font-family: "SF Mono Bold", "Courier New", monospace;
    justify-content: space-between;
}

.w-order-list-item > div:first-child button {
    font: initial;
    color: #1D1C1D;
    background-color: #FFFFFF;
}

.w-order-list-item > div:nth-child(n+2) {
    margin-top: 0.5em;
}

.w-order-list-item .order-list-details-wrapper > div {
    flex: 1;
    border-radius: 0.5em;
    background-color: #1D1C1D;
}

.w-order-list-item .order-list-details-wrapper > div > div:first-child {
    color: #E500E5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.w-order-list-item .order-list-details-wrapper > div > div:nth-child(n+2) {
    border-top: 0.2em solid #333333;
    padding: 0em 1em;
}

.w-order-list-item .order-list-details-wrapper > div > div:first-child::after {
    content: "";
    background-image: url("../images/chevron.png");
    background-size: 1em;
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-left: 0.5em;
    align-self: center;
    transition: 0.2s ease-in-out;
}

.w-order-list-item .order-list-details-wrapper > div.expanded > div:first-child::after {
    -webkit-transform: scale(1,-1);
    transform: scale(1,-1);
}

.w-order-list-item .order-list-details-wrapper thead tr th:first-child {
    width: 35%;
}

.w-order-list-item .order-list-details-wrapper tbody tr td {
    padding: 0em 1em;
}

.w-order-list-item .order-list-details-wrapper tbody tr td:nth-child(n+2) {
    text-align: right;
}

.w-order-list-item .order-list-details-wrapper tbody tr:last-child {
    border-top: 0.1em solid;
}
