:root {
    --colour-dark-gray: #1D1C1D;
    --colour-light-gray: #333333;
    --colour-magenta: #E500E5;
    --colour-cyan: #00E5E5;
    --colour-dark-blue: #1B437E;
    --colour-light-blue: #7199CD;
    --font-family-regular: "SF Mono Regular", monospace;
    --font-family-bold: "SF Mono Bold", monospace;
}

.colour-magenta {
    color: var(--colour-magenta);
}

.colour-cyan {
    color: var(--colour-cyan);
}

@font-face {
    font-family: "SF Mono Regular";
    src: url("../fonts/SF-Mono-Regular.otf");
}

@font-face {
    font-family: "SF Mono Bold";
    src: url("../fonts/SF-Mono-Bold.otf");
}

.font-regular {
    font-family: var(--font-family-regular);
    font-weight: normal;
}

.font-bold {
    font-family: var(--font-family-bold);
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

.menu-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sticky-top {
    position: sticky;
    top: 0px;
}

body {
    margin: 0px;
    background-color: var(--colour-dark-gray);
    color: white;
    font-family: var(--font-family-regular);
    font-weight: normal;
    min-width: 54em;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 4em;
    width: 100%;
    background-color: var(--colour-light-gray);
    font-family: var(--font-family-bold);
    font-weight: bold;
}

.navbar-spacer {
    flex: 1;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-item:hover {
    background-color: var(--colour-dark-blue);
    transition: background-color 0.3s
}

.navbar-item.navbar-item-active {
    border-bottom: 0.5em solid var(--colour-dark-blue);
}

.navbar-item a {
    width: 9em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar-item a img {
    display: inline-block;
    vertical-align: middle;
}

#navbar-item-home a img {
    height: 2.5em;
}

#navbar-item-cart a img {
    height: 2em;
}

.list {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.list>div {
    flex: 2;
    min-width: 40em;
}

.list::before,
.list::after {
    content: "";
    flex: 1;
}

.list-item {
    display: flex;
    flex-direction: column;
    background-color: var(--colour-light-gray);
    border-radius: 1em;
    padding: 0.5em 2em;
    margin-bottom: 1.5em;
    line-height: 2em;
}

div.list-item-removed>.list-item {
    transform: translateX(20em);
    opacity: 0;
    transition: transform 0.5s, opacity 0.4s;
}

.list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.1em solid;
    font-family: var(--font-family-bold);
    font-weight: bold;
}

.list-item>.list-item-header button {
    all: unset;
    background-color: var(--colour-dark-gray);
    border-top: 0.1em solid;
    border-left: 0.1em solid;
    border-right: 0.1em solid;
    border-radius: 0.5em 0.5em 0em 0em;
    padding: 0em 0.5em;
    font-family: "SF Mono Regular", "Courier New", monospace;
    cursor: pointer;
}

.list-item>.list-item-header button:hover {
    background-color: var(--colour-dark-blue);
}

.list-item>.list-item-header button img {
    display: inline-block;
    height: 1.2em;
    margin-right: 0.3em;
    vertical-align: middle;
}

.list-item>div:nth-child(n+2) {
    margin-top: 0.5em;
}

.panel-wrapper {
    display: flex;
    flex-direction: row;
}

.panel-wrapper>div {
    flex: 1;
    border-radius: 0.5em;
    background-color: var(--colour-dark-gray);
}

.panel-wrapper>div>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--colour-magenta);
    cursor: pointer;
}

.panel-wrapper>div>div:nth-child(n+2) {
    border-top: 0.2em solid var(--colour-light-gray);
    padding: 0em 1em;
}

.panel-wrapper>div>div:first-child::after {
    content: "";
    background-image: url("../images/chevron.png");
    background-size: 1em;
    align-self: center;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    transition: 0.2s ease-in-out;
}

.panel-wrapper>div.panel-expanded>div:first-child::after {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
}

.table-order-details {
    width: 100%;
}

.table-order-details thead tr th:first-child {
    width: 35%;
}

.table-order-details tbody tr td {
    padding: 0em 1em;
}

.table-order-details tbody tr td:nth-child(n+2) {
    text-align: right;
}

.table-order-details tbody tr:last-child {
    border-top: 0.1em solid;
}